.row
  .col-md-5.col-md-offset-1.cards--posts
    %p.text-muted
      %strong Articles.
      In the mood for
      %a.primary--color.bold personal
      or
      = succeed '?' do
        %a.secondary-color.bold technical

    - @posts.each do |post|
      %a.card{ href: '#', class: "card-category--#{post[:category]}" }
        %h3= post[:title]
        %p.text-muted.card-text= post[:text]

    %a.card.card-block.card-category--default{ href: '#' }
      %h3.card-title More Articles
      %p.text-muted.card-text 86 Articles Total

  .col-md-6.cards--photos
    %p.text-muted
      %strong Travel Photos.
      Recent trips and getaways.
      %a{ href: '#'} Japan
      is my favorite.

    - @photos.each do |photo|
      %a.card{ href: '#' }
        %img.card-img{ src: photo[:src], 'data-src': photo[:src] }
        .card-img-overlay
        .photo--meta
          %h3.card-title= photo[:title]
          %p.card-text
            %small.text-muted= photo[:text]
