%p#notice= notice

%p
  %b User:
  = @template.user_id
%p
  %b Name:
  = @template.name
%p
  %b Content:
  = @template.content

= link_to 'Edit', edit_template_path(@template)
\|
= link_to 'Back', templates_path
