.container
  %h1 Listing pages

  %table
    %thead
      %tr
        %th Title
        %th Permalink
        %th Published at
        %th
        %th
        %th

    %tbody
      - @pages.each do |page|
        %tr
          %td= page.title
          %td= page.permalink
          %td= page.published_at
          %td= link_to 'Show', page
          %td= link_to 'Edit', edit_blog_page_path(@blog, page)
          %td= link_to 'Destroy', blog_page_path(@blog, page), :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Page', new_blog_page_path(@blog)
